<section class="card">
    <div class="card-body">
        <h1>DESARROLLO_TUX</h1>
        <p>
            Somos una empresa de desarrollo de software y de seguridad y nos encargamos de brindar la mayor tecnologia para el dia a dia.<br>
            Nos encargaremos de inovar cada dia, y traer en la comodidad de la web nuevas funciones y hacer de los problemas cotidianos algo mas simple.
        </p>

    </div>

     <div class="card-body">

  <p>
            Implementaremos nuevos proyectos y seran totalmente gratuitos, de igual manera pueden apoyarnos con donaciones voluntarias para seguir creciendo en nuestro desarrollo de nuevas tecnologias.
        </p>

     </div>
</section>