<div class="jumbotron mt-4">

    <h1 class="display-4">NOTAS Y DIARIO WEB</h1>
    <p class="lead">Podras en este apartado web poder crear tus propios recordatorios personales de manera muy sencilla y practica, de igual manera podras utilizar nuestra nueva funcionalidad de Diario web.</p>
    <hr class="my-4">
    <p>Puedes iniciar sesion o bien si aun no estas registrado podras hacerlo de manera muy practica y sencilla en nuestro menu.<br>
    Puedes revisar nuestro portafolio y checar nuestros proximos proyectos.</p>
    <a href="#" class="btn btn-success">ENTER</a>
</div>