<!--<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-header">
                INICIA SESION
            </div>
            <img src="/image/logo.jpg" class="rounded-circle mx-auto d-block md-4 logo">
            <div class="card-body">
                <form action="/users/signin" method="post">
                   
                    <div class="form-group">
                        <input type="email" class="form-control" name="email" placeholder="CORREO" value="">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="contraseña" placeholder="CONTRASEÑA" value="">
                    </div>
                    
                    <button class="btn btn-success btn-block">ENVIAR</button>
                </form>

            </div>
        </div>
    </div>
</div>-->

  <link rel="stylesheet" href="/css/style.css">
<div class="fondo">
        <form action="/users/signin" method="post">
          <div class="form">
            <h2>
              INICIAR SESION
            </h2>
            <img src="/image/logo.jpg" class="rounded-circle mx-auto d-block md-4 logo">
            <div class="grupo">
              <input type="email" name="email" id=""/><span
                class="barra"
              ></span>
              <label>CORREO</label>
            </div>
            <div class="grupo">
              <input type="password" name="contraseña" id=""  /><span
                class="barra"
              ></span>
              <label>CONTRASEÑA</label>
            </div>
             <button class="btn btn-success btn-block">ENVIAR</button>
           
        </form>
      </div>
